<%- include('layout/header') %>
    <main>
        <ul>
            <li><p>Name : Bejoy Munshi</p></li>
            <li><p>Email : bmunshi649@gmail.com</p></li>
            <li><p>Phone : 01406480752</p></li>
        </ul>
    </main>
<%- include("layout/footer") %>